<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<!-- <div>


    <br />
    <div
        style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;float:right ;margin-right: 2rem;padding: 0.2rem;border-radius: 5px;">
        <input disabled [checked]="c{{." placeholde}}r="start typing hallticket number ..." style="outline:none;border: none;width: 20vw;"
            [(ngModel)]="type" />
        <i class='bx bx-search'></i>
    </div><br />

    <div style="max-height: 98vh;display:flex;justify-content:center;">
        <div>
            <div class="row" style="width:92vw ;">
                <div class="col-2"><br />
                    <div
                        style="background-color: #1c1d63;color: white !important;padding: 0.7rem;border-bottom-right-radius: 60px;border-top-right-radius: 60px">
                        <h3>Estd : 1998 </h3>
                    </div>
                </div>
                <div class="col" style="display: flex;justify-content:center;align-items: center;max-height: 20vh;">
                    <img src="assets/mainlogo.png" style="height: 20vh;width:10vw" />
                </div>
                <div class="col-2"><br />
                    <div
                        style="background-color: #1c1d63;color: white !important;padding-top: 0.7rem;border-bottom-left-radius: 60px;border-top-left-radius: 60px;text-align: right;padding-bottom: 0.7rem;">
                        <h3>
                            <a style="text-decoration: none;color: white !important;" href="https://www.mits.ac.in/"
                                target="_blank">www.mits.ac.in</a>

                            &nbsp;
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive"
        style="max-height:95vh;display:flex;justify-content:center;width: 99vw ;background-color: red;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
        *ngFor="let c of filterStudent()">

        <div style="background-color: yellow;">
            <div class="row" style="width:92vw ;">
                <div class="col-2"><br />
                    <div
                        style="background-color: #1c1d63;color: white !important;padding: 0.7rem;border-bottom-right-radius: 60px;border-top-right-radius: 60px">
                        <h3>Estd : 1998 </h3>
                    </div>
                </div>
                <div class="col" style="display: flex;justify-content:center;align-items: center;max-height: 20vh;">
                    <img src="assets/mainlogo.png" style="height: 20vh;width:10vw" />
                </div>
                <div class="col-2"><br />
                    <div
                        style="background-color: #1c1d63;color: white !important;padding-top: 0.7rem;border-bottom-left-radius: 60px;border-top-left-radius: 60px;text-align: right;padding-bottom: 0.7rem;">
                        <h3>
                            <a style="text-decoration: none;color: white !important;" href="https://www.mits.ac.in/"
                                target="_blank">www.mits.ac.in</a>

                            &nbsp;
                        </h3>
                    </div>
                </div>
            </div>
            <div style="text-align:center;margin-top: 0.5rem;color: #1c1d63;width: 92vw;">
                <h1 style="font-family: 'Poppins', sans-serif;">MADANAPALLE INSTITUTE OF TECHNOLOGY AND
                    SCIENCE</h1>
                <div style="line-height: 10px;">
                    <h5>UGC - AUTONOMOUS </h5>
                    <strong>Affiliated to JNTUA , Ananthapuramu & Approved by AICTE , New Delhi</strong>
                </div><br />
                <h4>Madanapalle , Chittoor Dist., AndhraPradesh , India</h4>
                <br>
                <h1>APPLICATION FORM</h1>
                <h3>Academic Year (20 - {{c.academicyear}})</h3>
                <h1>CATEGORY - {{c.category}}</h1><br />
                <strong>Admission into {{c.course}}</strong>

                <table class="table table-bordered " style="text-align:left">
                    <tbody>
                        <tr>
                            <td>Branch Applied For </td>
                            <td>{{c.branchapplied}}</td>
                        </tr>
                        <tr>
                            <td>Full Name of the Candidate </td>
                            <td>{{c.fullname}}</td>
                        </tr>
                        <tr>
                            <td>Roll No </td>
                            <td>{{c.rollno}}</td>
                        </tr>
                        <tr>
                            <td>Hall Ticket</td>
                            <td>{{c.hallticket}}</td>
                        </tr>
                        <tr>
                            <td>Rank</td>
                            <td>{{c.rank}}</td>
                        </tr>
                    </tbody>
                </table>

                <div> FOR OFFICE USE - CHECK LIST<br /><br />
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>INTER TC & STUDY
                                        CERTIFICATES</label><br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>UG TC & STUDY
                                        CERTIFICATES</label><br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>OTHERS/CAST/INCOME/RATION
                                        CARD</label><br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>INTER MARKS MEMO</label><br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>UG-PC</label><br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>AADHAR CARD</label><br />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-1">
                                    <input disabled [checked]="c{{." typ}}e="checkbox">
                                </div>
                                <div class="col" style="text-align: left"> <label>2 PASS PORT SIZE PHOTOS</label><br />
                                </div>
                            </div>
                            <br />


                        </div>

                        <div class="col" style="text-align: left">
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>ALLOTMENT ORDER</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>JOINING REPORT</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>RECEIPT OF CERTIFICATES FORM</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>HALL TICKET</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>RANK CARD</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>6TH TO 10TH STUDY CERTIFICATES</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-1"><input disabled [checked]="c{{." typ}}e="checkbox"></div>
                                <div class="col"><label>SSC MARKS MEMO</label>
                                </div>
                            </div><br />
                        </div>
                    </div>
                </div>


                <div>
                    <table class="table table-bordered" style="text-align:left ;">
                        <tbody>
                            <tr>
                                <td>Full Name of the Candidate (In Capitals):<br />
                                    (As per SSC)
                                </td>
                                <td>{{c.fullname}}</td>
                            </tr>
                            <tr>
                                <td> Date of Birth (DD/MM/YY)
                                </td>
                                <td>{{c.dob | date}}</td>
                            </tr>
                            <tr>
                                <td> Gender
                                </td>
                                <td>{{c.gender}}</td>
                            </tr>
                            <tr>
                                <td> Father's / Guardian Name
                                </td>
                                <td>{{c.fathername}}</td>
                            </tr>
                            <tr>
                                <td> Mother's Name
                                </td>
                                <td>{{c.mothername}}</td>
                            </tr>
                            <tr>
                                <td> Aadhar Number
                                </td>
                                <td>{{c.aadharno}}</td>
                            </tr>


                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Present Address</td>
                                <td>Permanent Address
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table table-borderless" style="text-align: left;">
                                        <tbody>
                                            <tr>
                                                <td>House No</td>
                                                <td>{{c.presenthouseno}}</td>
                                            </tr>
                                            <tr>
                                                <td>Street/Location</td>
                                                <td>{{c.presentstreet}}</td>
                                            </tr>
                                            <tr>
                                                <td>Village/Mandal</td>
                                                <td>{{c.presentvillage}}</td>
                                            </tr>
                                            <tr>
                                                <td>Dist./State</td>
                                                <td>{{c.presentstate}}</td>
                                            </tr>
                                            <tr>
                                                <td>Pin</td>
                                                <td>{{c.presentpin}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-borderless" style="text-align: left;">
                                        <tbody>
                                            <tr>
                                                <td>House No</td>
                                                <td>{{c.permanenthouseno}}</td>
                                            </tr>
                                            <tr>
                                                <td>Street/Location</td>
                                                <td>{{c.permanentstreet}}</td>
                                            </tr>
                                            <tr>
                                                <td>Village/Mandal</td>
                                                <td>{{c.permanentvillage}}</td>
                                            </tr>
                                            <tr>
                                                <td>Dist./State</td>
                                                <td>{{c.permanentstate}}</td>
                                            </tr>
                                            <tr>
                                                <td>Pin</td>
                                                <td>{{c.permanentpin}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered" style="text-align:left ;">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table table-borderless">
                                        <tr>
                                            <td>Father's mobile number</td>
                                            <td>{{c.fathermobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Mother's mobile number</td>
                                            <td>{{c.mothermobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Parent's mail</td>
                                            <td>{{c.parentmail}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-borderless">
                                        <tr>
                                            <td>Candidate's mail</td>
                                            <td>{{c.studentmail}}</td>
                                        </tr>
                                        <tr>
                                            <td>Candidate's mobile</td>
                                            <td>{{c.studentmobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Blood group</td>
                                            <td>{{c.studentblood}}</td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>Nationality : {{c.nationality}}</td>

                                                <td>Religion : {{c.religion}}</td>

                                                <td>Caste : {{c.caste}}</td>

                                                <td>Category : {{c.category}}</td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>




                    Details of Educational Qualifications<br />
                    <table class="table  table-bordered">
                        <tbody>
                            <tr>
                                <td>Level</td>
                                <td>School / College Name</td>
                                <td>Group / Branch</td>
                                <td>Year of passing</td>
                                <td>Board / University</td>
                                <td>Division / Grade % of Marks</td>
                            </tr>
                            <tr>
                                <td>SSC</td>
                                <td>{{c.schoolorcollegename}}</td>
                                <td>{{c.sscgrouporbranch}}</td>
                                <td>{{c.sscyearofpassing}}</td>
                                <td>{{c.sscboardoruniversity}}</td>
                                <td>{{c.sscgrade}}</td>
                            </tr>
                            <tr>
                                <td>Inter</td>
                                <td>{{c.interschoolorcollegename}}</td>
                                <td>{{c.intergrouporbranch}}</td>
                                <td>{{c.interyearofpassing}}</td>
                                <td>{{c.interboardoruniversity}}</td>
                                <td>{{c.intergrade}}</td>
                            </tr>
                            <tr>
                                <td>UG</td>
                                <td>{{c.ugschoolorcollegename}}</td>
                                <td>{{c.uggrouporbranch}}</td>
                                <td>{{c.ugyearofpassing}}</td>
                                <td>{{c.ugboardoruniversity}}</td>
                                <td>{{c.uggrade}}</td>
                            </tr>
                            <tr>
                                <td>PG</td>
                                <td>{{c.pgschoolorcollegename}}</td>
                                <td>{{c.pggrouporbranch}}</td>
                                <td>{{c.pgyearofpassing}}</td>
                                <td>{{c.pgboardoruniversity}}</td>
                                <td>{{c.pggrade}}</td>
                            </tr>
                            <tr>
                                <td>Any Other</td>
                                <td>{{c.otherschoolorcollegename}}</td>
                                <td>{{c.othergrouporbranch}}</td>
                                <td>{{c.otheryearofpassing}}</td>
                                <td>{{c.otherboardoruniversity}}</td>
                                <td>{{c.othergrade}}</td>
                            </tr>

                        </tbody>
                    </table>


                    Details of Qualifying Entrance Examination
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Entrance Test
                                </th>
                                <th>Appeared
                                </th>
                                <th>Hall Ticket No.
                                </th>
                                <th>Year
                                </th>
                                <th>Rank
                                </th>
                            </tr>
                            <tr>
                                <td>{{c.entranceexam}}</td>
                                <td>{{c.appeared}}</td>
                                <td>{{c.hallticket}}</td>
                                <td>{{c.year}}</td>
                                <td>{{c.rank}</td>
                            </tr>
                        </tbody>
                    </table>


                    Occupation of the Father / Guardian : {{c.fatheroccupation}}<br />
                    Annual Income of the Father / Guardian :{{c.fatherannualincome}}
                </div>

                Signature of Parent :
                Signature of Candidate :
            </div>
        </div>
        <br />
    </div>
</div> -->




<div style="height: 100vh;width: 98vw;">
    <div *ngIf="viewTop">
        <br />
        <div style="display: flex;justify-content:center;">
            <input [(ngModel)]="type" placeholder="start typing hallticket number ..." (click)="showData=false"
                class="form-control shadow-none" style="width: 20vw;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                [(ngModel)]="type" />&nbsp;
            <button class="btn btn-dark " style="box-shadow: none;" [disabled]="adduser==true" (click)=" filterStudent()"
                style="font-size: 0.8rem;">Search <i class='bx bx-search' style="font-weight:700"></i></button>&nbsp;
            <button class="btn btn-success" *ngIf="role=='superadmin'" style="box-shadow: none;" (click)="adduser=true">ADD USER</button>
        </div><br /><br />
        <div *ngIf="studentdata.length>0 && !adduser">
            <button class="btn btn-warning" (click)="openModal()">Click to proceed
                further . </button><br />
            <button class="btn btn-dark" (click)="edit()">Click to Edit</button>
        </div>
    </div>
    <div *ngIf="!adduser">
        <div *ngIf="studentdata.length>0 else nostudent">
            <div style="display: flex;justify-content:center;height: 89vh;margin-bottom: 4rem;"
                *ngFor="let c of studentdata">
                <div [ngStyle]="{'display':display}">

                    <button class="btn btn-warning" (click)="downloadPDF()">Print</button>
                    <button class="btn btn-danger"
                        (click)="display='none';viewTop=true;type='';showData=false;studentdata=[]"> Close
                    </button>

                </div>
                <div style="text-align: center;"><br /><br /><br /><br />


                    <div class="row" style="margin: 0rem;padding: 0rem;">
                        <div style="margin: 0rem;padding: 0rem;" class="col-3"><br />
                            <div
                                style="background-color: #1c1d63;color: white !important;padding: 0.7rem;border-bottom-right-radius: 60px;border-top-right-radius: 60px">
                                <h3>Estd : 1998 </h3>
                            </div>
                        </div>
                        <div class="col"
                            style="display: flex;justify-content:center;align-items: center;max-height: 20vh;">
                            <img src="assets/mainlogo.png" style="height: 15vh;width:25vw" />
                        </div>
                        <div style="margin: 0rem;padding: 0rem;" class="col-2"><br />
                            <div
                                style="background-color: #1c1d63;color: white !important;padding-top: 0.7rem;border-bottom-left-radius: 60px;border-top-left-radius: 60px;text-align: right;">
                                <h3>
                                    <a style="text-decoration: none;color: white !important;"
                                        href="https://www.mits.ac.in/" target="_blank">www.mits.ac.in&nbsp;<br /></a>

                                    &nbsp;
                                </h3>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div
                        style="display: flex;justify-content: center;align-items: center;color: #1c1d63;font-family: 'Montserrat', sans-serif;width:90vw ;">
                        <div style="margin: 0rem;padding:0rem;">
                            <h1 style="font-family: 'Poppins', sans-serif;">
                                Madanapalle Institute of Technology & Science</h1>
                            <div style=" line-height: 13px">
                                <div style="font-weight: 600;font-size: 1.5rem;">UGC - Autonomous </div>
                                <br />
                                <strong style="font-size:1rem;">Affiliated to JNTUA , Ananthapuramu & Approved by AICTE
                                    ,
                                    New
                                    Delhi</strong>
                            </div><br />
                            <h4 style="font-weight: 600;">Madanapalle , Chittoor Dist., AndhraPradesh , India</h4>
                            <br><br />
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col" style="text-align: center;">
                                    <div style="line-height: 20px;">
                                        <div
                                            style="font-family: 'Times New Roman', Times, serif;font-weight: 600;font-size: 2.2rem;letter-spacing: 0.1rem;">
                                            APPLICATION FORM</div><br />
                                        <h3 style="font-family: 'Times New Roman', Times, serif;font-weight: 550;">
                                            Academic Year (20 -
                                            {{c.academicyear}})
                                        </h3>
                                        <h1
                                            style="font-family: 'Times New Roman', Times, serif;font-weight: 600;font-size: 2.2rem;letter-spacing: 0.1rem;">
                                            CATEGORY - {{c.category}}</h1><br />

                                    </div>
                                </div>
                                <div class="col-2 border"><br /><br /><br />
                                    Passport size
                                </div>
                            </div>

                            <h4 style="font-family: 'Times New Roman', Times, serif;font-weight: 600;">Admission
                                into
                                {{c.course}}</h4><br /><br />
                            <table class=" table table-bordered " style=" text-align:left">
                                <tbody>
                                    <tr>
                                        <td style="width: 42vw;">Branch Applied For </td>
                                        <td>{{c.branchapplied}}</td>
                                    </tr>
                                    <tr>
                                        <td>Full Name of the Candidate </td>
                                        <td>{{c.fullname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Roll No </td>
                                        <td>{{c.rollno}}</td>
                                    </tr>
                                    <tr>
                                        <td>Hall Ticket</td>
                                        <td>{{c.hallticket}}</td>
                                    </tr>
                                    <tr>
                                        <td>Rank</td>
                                        <td>{{c.rank}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br /><br /><br /><br /><br /><br />
                            <div>
                                <span style="font-size: 1rem;font-weight:600"> FOR OFFICE USE - CHECK
                                    LIST</span><br /><br />
                                <div class="row">

                                    <div class="col" style="text-align: left">
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.allotmentorder"
                                                    type="checkbox">
                                            </div>
                                            <div class="col"><label>ALLOTMENT ORDER</label>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.joiningreport"
                                                    type="checkbox">
                                            </div>
                                            <div class="col"><label>JOINING REPORT</label>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.recieptofcert"
                                                    type="checkbox">
                                            </div>
                                            <div class="col"><label>RECEIPT OF CERTIFICATES FORM</label>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.hallticketcert"
                                                    type="checkbox">
                                            </div>
                                            <div class="col"><label>HALL TICKET</label>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.rankcard" type="checkbox">
                                            </div>
                                            <div class="col"><label>RANK CARD</label>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.sscmarksmemo"
                                                    type="checkbox">
                                            </div>
                                            <div class="col"><label>SSC MARKS MEMO</label>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-1"><input disabled [checked]="c.sixtencert" type="checkbox">
                                            </div>
                                            <div class="col"><label>6TH TO 10TH STUDY CERTIFICATES</label>
                                            </div>
                                        </div><br />
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.intermarksmemo" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>INTER MARKS
                                                    MEMO</label><br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.intercert" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>INTER TC & STUDY
                                                    CERTIFICATES</label><br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.ugpc" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>UG-PC</label><br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.ugcert" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>UG TC & STUDY
                                                    CERTIFICATES</label><br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.photos" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>2 PASS PORT SIZE
                                                    PHOTOS</label><br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.aadharcard" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>AADHAR CARD</label><br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-1">
                                                <input disabled [checked]="c.othercert" type="checkbox">
                                            </div>
                                            <div class="col" style="text-align: left"> <label>OTHERS/CAST/INCOME/RATION
                                                    CARD</label><br />
                                            </div>
                                        </div>
                                        <br />




                                    </div>

                                </div>
                            </div>
                            <br /><br />

                            <div>
                                <table class="table table-bordered" style="text-align:left ;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 42vw;">Full Name of the Candidate (In Capitals)<br />
                                                (As per SSC)
                                            </td>
                                            <td>{{c.fullname | uppercase}}</td>
                                        </tr>
                                        <tr>
                                            <td> Date of Birth (DD/MM/YY)
                                            </td>
                                            <td>{{c.dob | date}}</td>
                                        </tr>
                                        <tr>
                                            <td> Gender
                                            </td>
                                            <td>{{c.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td> Father's / Guardian Name
                                            </td>
                                            <td>{{c.fathername}}</td>
                                        </tr>
                                        <tr>
                                            <td> Mother's Name
                                            </td>
                                            <td>{{c.mothername}}</td>
                                        </tr>
                                        <tr>
                                            <td> Aadhar Number
                                            </td>
                                            <td>{{c.aadharno}}</td>
                                        </tr>


                                    </tbody>
                                </table><br /><br />
                                <div class="border p-2 " style="font-size: 1rem;color: #1c1d63;;"> <strong>

                                        Address</strong></div>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr style="font-weight: 600;">
                                            <td style="width: 42vw;">Present Address</td>
                                            <td>Permanent Address
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-borderless" style="text-align: left;">
                                                    <tbody>
                                                        <tr>
                                                            <td>House No</td>
                                                            <td>{{c.presenthouseno}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Street/Location</td>
                                                            <td>{{c.presentstreet}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Village/Mandal</td>
                                                            <td>{{c.presentvillage}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dist./State</td>
                                                            <td>{{c.presentstate}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pin</td>
                                                            <td>{{c.presentpin}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="table table-borderless" style="text-align: left;">
                                                    <tbody>
                                                        <tr>
                                                            <td>House No</td>
                                                            <td>{{c.permanenthouseno}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Street/Location</td>
                                                            <td>{{c.permanentstreet}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Village/Mandal</td>
                                                            <td>{{c.permanentvillage}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dist./State</td>
                                                            <td>{{c.permanentstate}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pin</td>
                                                            <td>{{c.permanentpin}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><br /><br /><br /><br />
                                <div class="border p-2 " style="font-size: 1rem;color: #1c1d63;;"> <strong>

                                        Personal Details</strong></div>
                                <table class="table table-bordered" style="text-align:left ;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 42vw;">
                                                <table class="table table-borderless">
                                                    <tr>
                                                        <td>Father's mobile number</td>
                                                        <td>{{c.fathermobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mother's mobile number</td>
                                                        <td>{{c.mothermobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parent's mail</td>
                                                        <td>{{c.parentmail}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="table table-borderless">
                                                    <tr>
                                                        <td>Candidate's mail</td>
                                                        <td>{{c.studentmail}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Candidate's mobile</td>
                                                        <td>{{c.studentmobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Blood group</td>
                                                        <td>{{c.studentblood}}</td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Nationality :</strong> {{c.nationality}}</td>

                                                            <td><strong>Religion :</strong> {{c.religion}}</td>

                                                            <td><strong>Caste :</strong> {{c.caste}}</td>

                                                            <td><strong>Category :</strong> {{c.category}}</td>

                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <br />
                                <div class="border p-2 " style="font-size: 1rem;color: #1c1d63;;"> <strong>Details of
                                        Educational
                                        Qualifications</strong></div>
                                <table class="table  table-bordered">
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: 600;">Level</td>
                                            <td style="font-weight: 600;">School / College Name</td>
                                            <td style="font-weight: 600;">Group / Branch</td>
                                            <td style="font-weight: 600;">Year of passing</td>
                                            <td style="font-weight: 600;">Board / University</td>
                                            <td style="font-weight: 600;">Division / Grade % of Marks</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: 600;">SSC</td>
                                            <td>{{c.schoolorcollegename}}</td>
                                            <td>{{c.sscgrouporbranch}}</td>
                                            <td>{{c.sscyearofpassing}}</td>
                                            <td>{{c.sscboardoruniversity}}</td>
                                            <td>{{c.sscgrade}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: 600;">Inter</td>
                                            <td>{{c.interschoolorcollegename}}</td>
                                            <td>{{c.intergrouporbranch}}</td>
                                            <td>{{c.interyearofpassing}}</td>
                                            <td>{{c.interboardoruniversity}}</td>
                                            <td>{{c.intergrade}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: 600;">UG</td>
                                            <td>{{c.ugschoolorcollegename}}</td>
                                            <td>{{c.uggrouporbranch}}</td>
                                            <td>{{c.ugyearofpassing}}</td>
                                            <td>{{c.ugboardoruniversity}}</td>
                                            <td>{{c.uggrade}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: 600;">PG</td>
                                            <td>{{c.pgschoolorcollegename}}</td>
                                            <td>{{c.pggrouporbranch}}</td>
                                            <td>{{c.pgyearofpassing}}</td>
                                            <td>{{c.pgboardoruniversity}}</td>
                                            <td>{{c.pggrade}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: 600;">Any Other</td>
                                            <td>{{c.otherschoolorcollegename}}</td>
                                            <td>{{c.othergrouporbranch}}</td>
                                            <td>{{c.otheryearofpassing}}</td>
                                            <td>{{c.otherboardoruniversity}}</td>
                                            <td>{{c.othergrade}}</td>
                                        </tr>

                                    </tbody>
                                </table><br />
                                <div class="border p-2 " style="font-size: 1rem;color: #1c1d63;;"> <strong>

                                        Details of Qualifying Entrance Examination</strong></div>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Entrance Test
                                            </th>
                                            <th>Appeared
                                            </th>
                                            <th>Hall Ticket No.
                                            </th>
                                            <th>Year
                                            </th>
                                            <th>Rank
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>{{c.entranceexam}}</td>
                                            <td>{{c.appeared}}</td>
                                            <td>{{c.hallticket}}</td>
                                            <td>{{c.year}}</td>
                                            <td>{{c.rank}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <div style="text-align: left;">

                                    <strong>Occupation of the Father / Guardian :</strong> {{c.fatheroccupation}}<br />
                                    <strong> Annual Income of the Father / Guardian : </strong> {{c.fatherannualincome}}
                                </div>
                            </div>
                            <br /><br />
                            <div>
                                <span style="float: left;"> Signature of Parent
                                </span>
                                <span style="float: right;"> Signature of Candidate</span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <ng-template #nostudent>
            <div style="text-align: center;" *ngIf="showData">
                Sorry ! we could not find any student with above matching hall ticket number
            </div>
        </ng-template>
    </div>

    <div *ngIf="adduser"
        style="display:flex;justify-content: center;align-items: center;align-content: center;">
        <div class="logo cardshow">
            <div class="col-sm  content" style="margin: 0%;padding-top: 0%;">
                <form (ngSubmit)="addadmin()" [formGroup]="formgroupdata" style="margin: 0%;padding-top: 0%;">
                    <div style="display:flex;justify-content: center;align-items: center;align-content: center;padding-top: -20px;" >
                        <h3 style="color:#5cb85c;">ADD NEW USER</h3>
                    </div>
                    <span style="color: #a5081a;" *ngIf="errorMessage.includes('signup')">
                        <br /><strong>{{errorMessage}}</strong><br /></span>
                    <span *ngFor="let k of formdata"><br>
                        <strong style="color:#1b1c1e">{{k.label}}</strong>
                        <div
                            style="display: flex;background-color: #fff;border-radius: 4px;padding: 0rem 0.5rem;border: 0.2px solid rgb(209, 209, 209);">
                            <i class={{k.icon}} style="font-size: 1.3rem;margin-top: 0.5rem;"></i>
                            <input class="iconinput" style="border: none;"
                                [type]='k.type=="password"? (temp? "text" : "password"):"text"'
                                [ngClass]="formgroupdata.controls[k.formname].status=='INVALID' && formvalue==true ? 'form-control  shadow-none invalidstyle' : 'form-control  shadow-none'"
                                formControlName="{{k.formname}}" placeholder={{k.placeholder}} type={{k.type}}
                                *ngIf="k.tags=='input'">
                            <span *ngIf="k.type=='password'">
                                <span *ngIf="!temp" (click)="temp=!temp"><i class='{{k.icon1}}'
                                        style="font-size: 1.3rem;margin-top: 0.5rem;"></i></span>
                                <span *ngIf="temp" (click)="temp=!temp"><i class='{{k.icon2}}'
                                        style="font-size: 1.3rem;margin-top: 0.5rem;"></i></span>
                            </span>
                        </div>
                        <span class="danger" style="font-size: 0.8rem;color: #df4759;;font-weight: bold;">
                            <span *ngIf="k.formname=='mail' && errorMessage=='User Exist'">
                                &nbsp;{{errorMessage}}
                            </span>
                            <!-- <span *ngIf="k.formname=='password' && errorMessage=='Invalid password'">
                                &nbsp;{{errorMessage}}
                            </span> -->
                        </span>
                        <span style="font-size: 0.8rem;color: #df4759;;font-weight: bold;"
                            *ngIf="formgroupdata.controls[k.formname].status=='INVALID' && formvalue==true">
                            <span *ngIf="formgroupdata.controls[k.formname].value==''">
                                please fill this field
                            </span>
                            <span *ngIf="formgroupdata.controls[k.formname].value!=''">
                                Invalid Mail
                            </span>
                        </span>
                    </span><br>
                    <!-- <strong style="float: right;color:#5cb85c;"  id="press" (click)="changeMode()">Forgot password ?
                    </strong><br> -->
                    <div
                        style="align-items: center;display:flex;justify-content:center;padding-top: 5%;padding-bottom: 0%;">
                        <button id="but" type="submit" class="btn btn-success">Add User</button>&nbsp;&nbsp;
                        <button id="but" class="btn btn-danger" (click)="adduser=false">Cancel</button>
                    </div>
                </form><br>
            </div>
        </div>
    </div>
</div>