@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

input {
    font-size: 0.8rem;
}

td {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    padding-left: 2rem;
}

div {
    font-size: 0.8rem;
}

@media print {
    body {
        print-color-adjust: exact;
    }
}

.logo {
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 76% 50%;
}

.logo1 {
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 50%;
}

.cardshow{
    cursor: pointer;
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0.3rem;
    margin-top: 0;
    margin-bottom: 0%;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
    border-radius: 3px;
    width: 600px;height: 500px;
}